body{
    background-image: url(../img/dark.gif);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
p::first-letter{
    font-size: 30px;
    font-family: 'Cinzel Decorative';
}

.intro p{
    text-indent: 2%;
}

.port a{
    text-decoration: none;
    color: aliceblue;
    border: 1px solid white;
    background-image: radial-gradient(black, blue);
    border-radius: 10px;
    padding: 3px;
}

.intro, .assect, .port, .add, .sched{
    color: aliceblue;
    text-shadow: 0 0 2px midnightblue;
    border: 1px outset white;
    border-radius: 10px;
    position: absolute;
    top:20%;
    left: 29%;
    padding: 2px;
    visibility: hidden;
    img{
        width: 35%;
        height: 70%;
        margin: auto;
        display: block;
    }
}
.sched{
    text-align: center;
    left: 250px;
    td{
        border: 1px ridge whitesmoke;

    }
    #clf{
        background-image: url(../img/broken.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        text-shadow: 0 0 2px red, 0 0 5px black;
    }
    #fill{
        background-image: url(../img/colorfulsmoke.png);
        background-size: cover;
        background-repeat: no-repeat;
        text-shadow: 0 0 3px black, 0 0 2px blue;
    }
    #wrk{
        background-image: url(../img/fractal.avif);
        background-size: cover;
        background-repeat: no-repeat;
        text-shadow: 0 0 2px red, 0 0 5px black;


    }
}
.intro h1, .assect h1, .port h1, .add h1, .sched h1{
    visibility: visible;
    color: antiquewhite;
    font-family: 'Cinzel Decorative';
    font-size: 20px;
    text-shadow: 0 0 3px rgb(193, 7, 254), 0 0 3px blue, 0 0 4px violet;
    border: 20px solid midnightblue;
    border-image: url(../img/border.png)10%;
}
.intro h1{
    top: 30%;
    left: 10%;
    right: 72%;
    position: fixed;
}

.assect h1{
    top: 30%;
    right: 10%;
    position: fixed;

}
.port h1{
    top: 60%;
    left: 20%;
    right: 65%;
    position: fixed;

}
.add h1{
    top: 60%;
    right: 20%;
    position: fixed;

}
.sched h1{
    top: 80%;
    left: 40%;
    right: 47%;
    position: fixed;

}
.navbar{
    width: max-content;
    li{
        list-style-type: none;
        display: inline-block;
        background-image: radial-gradient(rgba(0, 0, 0, 0.16), rgba(2, 2, 68, 0.237), rgba(159, 159, 251, 0.372));
        padding: 20px;
        border-radius: 200px;

    }
    a{
        text-decoration: none;
        font-size: 20px;
        color: aqua;
        text-shadow: 0 0 3px black, 0 0 4px rgb(4, 43, 100);
    }
    li:hover{
        background-color: rgba(240, 255, 255, 0.409);
        border-radius: 200px;
        padding: 15px;
    }
    a:hover{
        color: black;
        text-shadow: 0 0 2px violet;
    }
    .usc{
        left: 5%;
        position: fixed;
        animation: 10s ease-in-out 0s alternate infinite floating;

    }
    .asng{
        left: 20%;
        position: fixed;
        animation: 10s ease-in-out 0s alternate infinite floating3;

    }
    .vid{
        right: 40%;
        position: fixed;
        animation: 11s ease-in-out 0s alternate infinite floating2;
    }
    .art{
        right: 20%;
        position: fixed;    
        animation: 12s  ease-in-out 0s alternate infinite floating;    
    }
    .tp{
        right: 5%;
        position:fixed;
        animation: 10s ease-in-out 1s alternate infinite floating4;

    }

}
footer{
    bottom: 0;
    width: 100vw;
    height: 30px;
    left: 0;
    position: fixed;
    background-image: linear-gradient(skyblue, blue, midnightblue);
    p{
        position: fixed;
        left: 45%;
        top: 93%;
        
    }
}

@keyframes floating {
    from{transform: translate(6px, 5px);}
    20% {transform: translate(-6px, -7px);}
    40% {transform: translate(6px, -2px);}
    60% {transform: translate(-6px, 4px);}
    80% {transform: translate(6px, 3px);}
    
}
@keyframes floating2 {
    from{transform: translate(7px, 3px);}
    20% {transform: translate(-7px, 9px);}
    40% {transform: translate(7px, -2px);}
    60% {transform: translate(-7px, -6px);}
    80% {transform: translate(7px, 8px);}
    
}
@keyframes floating3 {
    from{transform: translate(7px, -3px);}
    20% {transform: translate(-4px, 10px);}
    40% {transform: translate(14px, 8px);}
    60% {transform: translate(-8px, -15px);}
    80% {transform: translate(8px, 2px);}
    
}
@keyframes floating4 {
    from{transform: translate(-10px, 9px);}
    20% {transform: translate(10px, 2px);}
    40% {transform: translate(-10px, -8px);}
    60% {transform: translate(10px, -7px);}
    80% {transform: translate(-10px, -9px);}
    
}
