.schedule{
    tr, td{
        background-color: aqua;
        border: solid black 1px;
        border-collapse: collapse;
        text-align: center;
        width: auto;

    }

    table{
        width: 100%;
    }

    


}

.header{
    background-color: slateblue;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    color: white;
}

.artwork{
    img{
        height: 30%;
        width: 30%;
        border-radius: 50%;
    }
}

.navbar{
    

    ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 25%;
        height: 100%;
        position: fixed;
        overflow: auto;
        border: 1px solid slateblue;
        background-color: black;
    }

    a{
        color: cadetblue;
        text-decoration: none;
        background-color: black;
        font-family: fantasy;
        font-size: medium;
        display: block;
        padding: 20px;
        border: 1px solid slateblue;
    }
    a:hover{
        text-decoration: underline;
        background-color: beige;

    }
    #mybtn{
        color: cadetblue;
        text-decoration: none;
        background-color: black;
        font-family: fantasy;
        font-size: medium;
        display: block;
        padding: 8px 8px;
        border: 1px solid slateblue;
    }
    #mybtn:hover{
        background-color: beige;
        text-decoration: underline;
    }
}

#wrk{
    background-color: rgba(255, 0, 255, 0.326);
    border-style: outset;
    border-color: aquamarine;
}

#clf{
    background-color: rgba(47, 79, 79, 0.409);
    border-style: groove;
    border-color: blueviolet;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;

}

#fill{
    background-color: rgba(137, 43, 226, 0.317);
    border-style: ridge;
    border-color: aliceblue;
}

.ebtn{
    margin-left: 27%;
}

body{
    background-image: url(../img/dark.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    margin: 0;
    

}

h1,p,h2,h3,h4,h5,h6,ol,ul,footer{
    color: white;
}