.schedule{
    table, th, td{
        background-color: aqua;
        border: solid black 1px;
        text-align: center;
        width: auto;

    }


}

.header{
    background-color: slateblue;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    color: white;
}

.artwork{
    img{
        height: 30%;
        width: 30%;
        border-radius: 50%;
    }
}

.navbar{

    ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 25%;
        height: 100%;
        position: fixed;
        overflow: auto;
        border: 1px solid slateblue;
        background-color: black;
    }

    a{
        color: cadetblue;
        text-decoration: none;
        background-color: black;
        font-family: fantasy;
        font-size: medium;
        display: block;
        padding: 20px;
        border: 1px solid slateblue;
    }
    a:hover{
        text-decoration: underline;
        background-color: beige;

    }
    #mybtn{
        color: cadetblue;
        text-decoration: none;
        background-color: black;
        font-family: fantasy;
        font-size: medium;
        display: block;
        padding: 8px 8px;
        border: 1px solid slateblue;
    }
    #mybtn:hover{
        background-color: beige;
        text-decoration: underline;
    }
}

.ebtn{
    margin-left: 27%;
}

body{

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    

}

h1,p,h2,h3,h4,h5,h6,ol,ul,footer{
    color: white;
}